name: Deploy package to PyPI

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: make dev-setup

      - name: Build package
        run: make build

      - name: Deploy package to PyPI
        run: .venv/bin/uv publish --username="__token__" --password="${{ secrets.PYPI_TOKEN }}"
